.data {
    padding-top: 100px;
    margin: 10px auto;
    width: 20%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 95%;
    border: 1px #ddd solid;
}

.form-text {
    font-style: italic;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-required {
    margin-left: 5px;
    color: red;
}

.btn {
    background: #ec886a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    width: 50%;
    height: 40px;
    line-height: 1.2;
    margin-left: 50px;
}

nav-link {
    color: #fff;
    font-family: Poppins-Medium;
    font-size: 16px;
    text-underline-offset: 0;
}

.redirect {
    line-height: 45px;
}

h3 {
    text-align: center;

}